<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!--    <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=5b715daa89f60c5efb497bb6eacce570"></script>-->
    <!--    <script-->
    <!--            th:src="@{'//dapi.kakao.com/v2/maps/sdk.js?appkey='+${@environment.getProperty('kakao.apiKey')}}"></script>-->
    <!--        <script src="/js/getCurrentLocation.js"></script>-->
    <script src="/js/getKakaoApi.js"></script>
    <script src="/js/kakaoMapView.js"></script>
    <title>KAKAO MAP VIEW - BASIC</title>
</head>
<body>
<h1>KAKAO MAP VIEW - BASIC</h1>
<div id="map" style="width:1000px;height:600px;"></div>
</body>
</html>

