<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KAKAO MAP</title>
    <style>
        h1 {
            margin-bottom: 40px;
        }

        button {
            width: 150px;
            /*height: 50px;*/
            font-size: 15px;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<h1>카카오맵 목차</h1>
<div>
    <button type="button" onclick="location.href='/kakao/mapView'">지도 띄우기</button>
    <br>
    <button type="button" onclick="location.href='/kakao/userLocation'">현재 사용자 위치 표시</button>
    <br>
    <button type="button" onclick="location.href='/kakao/pinnedLocation'">사용자가 클릭한 위치에 핀을 설정하고 해당 위치의 위도, 경도, 주소를
        불러온다.
    </button>
    <br>
    <button type="button" onclick="location.href='/kakao/searchByKeyword'">키워드로 검색</button>
</div>
</body>
</html>